.input-container {
    display: flex;
}

label {
    flex-basis: 30%;
    display: flex;
}

.input
{
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.input-wrapper {
    flex-basis: 70%;
    display: flex;
}