.select-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 480px) {
    .select-container {
        flex-direction: row;
    }
}

.label-select {
    flex-basis: 30%;
    display: flex;
}

.select {
    flex-basis: 70%;
}